<!-- extend base layout -->
{% extends "home.html" %}

<!-- graph css -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-theme.css') }}">


<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/starter-template.css') }}">

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/cover.css') }}">



{% block content %}

<head>

</head>


  <style>
     
     body {
         
         background-image: url({{ url_for('static', filename='image/FT.jpg') }});
         background-repeat: no-repeat;
         background-size: 100vw 100vh;
         
     }
  </style>  

<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Follow The Money</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="{{ url_for('project') }}">Projects</a></li>
             <li><a href="{{ url_for('influenced') }}">Influenced</a></li>
            <li><a href="{{ url_for('login') }}">Application</a></li>
            <li><a href="{{ url_for('about_view') }}">About</a></li>
            <li class="active"><a href="{{ url_for('contact_view') }}">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

<br>
<br>
<br> 
{% endblock %}